<html>
  <body>
    <h1>My Face Recognition Website</h1>
    <div class="buttons">
      <form method = 'post' enctype=multipart/form-data>
        <input type="submit" style="font-size: 20px; height: 50px; width: 100px" name="button" value="checkin" />
        <!--    <button class="checkin_button" name="checkin_button">checkin</button> -->
      <form method = 'post' enctype=multipart/form-data>
        <input type="submit" style="font-size: 20px; height: 50px; width: 100px" name="button" value="checkout" />
        <!--  <button class="checkout-button" name="checkout-button">checkout</button> -->
      <h3>If you are a New User please click here ====> <a href="/what-is-your-name" class = "button">New User</a></h3>
      <h3>To Download report ====> <a href="/auth-report" class = "button">Download</a></h3>
      </div>
    </div>
  </body>
</html>
